<div class="sheet-block connexion flex-center">
    <h3>{{localize 'nanochrome.connexion'}} : <label class="smallInput"><input name="data.connexion.actuel" type="number" value="{{data.connexion.actuel}}" data-dtype="Number" /> / {{data.connexion.max}}</label></h3>
    <hr>
    <div class="flex-orderSmallInput smallInput">
        <label>Bonus Nexus</label>
        <input name="data.connexion.bonus.nexus" type="number" value="{{data.connexion.bonus.nexus}}" data-dtype="Number" />
    </div>
    <div class="flex-orderSmallInput smallInput">
        <label>Bonus Capacité</label>
        <input name="data.connexion.bonus.capacite" type="number" value="{{data.connexion.bonus.capacite}}" data-dtype="Number" />
    </div>
    <div class="flex-orderSmallInput smallInput">
        <label>Bonus Cyber</label>
        <input name="data.connexion.bonus.cyber" type="number" value="{{data.connexion.bonus.cyber}}" data-dtype="Number" />
    </div>
</div>