<div class="sheet-block cybernetique">
    <h3>{{localize 'nanochrome.cybernetique.nom'}}</h3>
    <table>
        {{#each data.cybernetique as |cyber nom|}}
        <tr class="item" data-item-id="{{cyber._id}}">
            <td rowspan="2"><img class="item-img" src="{{cyber.img}}" /></td>
            <td><label class="item-edit editable"><strong>{{cyber.name}}</strong></label><br /><small>({{data.capacitespeciale}})</small>
            </td>
            <td class="item-controls">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        <tr class="item" data-item-id="{{cyber._id}}">
            <td colspan="2">
                {{#ifCond cyber.options.length "===" 0}}
                <small>Aucune option.</small>
                {{else}}
                <ul>
                    {{#each cyber.options as |option nom|}}
                    <li>{{option.name}} : {{option.data.description}}</li>
                    {{/each}}
                </ul>
                {{/ifCond}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>