<div class="sheet-block cybernetique">
    <h3>{{localize 'nanochrome.cybernetique.nom'}}</h3>
    <table>
        {{#each data.cybernetique as |cyber nom|}}
        <tr class="item" data-item-id="{{cyber._id}}">
            <td rowspan="2"><img class="item-img" src="{{cyber.img}}"/></td>
            <td><label class="item-edit editable">{{cyber.name}}</label><br/><small>({{data.capacitespeciale}})</small></td>
        </tr>
        <tr class="item" data-item-id="{{cyber._id}}">
            <td>
                {{#each cyber.options as |option nom|}}
                    <img class="item-img" src="{{option.img}}" title="{{option.name}} : {{option.data.description}}"/>
                {{/each}}
            </td>
            <td class="item-controls">
                <a class="item-control item-edit editable" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>