<div class="sheet-block">
    <div class="flex-orderSmallInput smallInput">
        <label class="text-rollable roll-caracteristique" data-nom="Puissance" data-valeur="{{data.puissance}}">Puissance</label>
        <input name="data.puissance" type="number" value="{{data.puissance}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Défense</label>
        <input name="data.defense" type="number" value="{{data.defense}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Points de vie</label>
        <input name="data.pointsdevie" type="number" value="{{data.pointsdevie}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Chance</label>
        <input name="data.chance" type="number" value="{{data.chance}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Connexion</label>
        <input name="data.connexion" type="number" value="{{data.connexion}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Initiative</label>
        <input name="data.bonusinitiative" type="number" value="{{data.bonusinitiative}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Bonus attaque cors à corps</label>
        <input name="data.corpsacorps.bonusattaque" type="number" value="{{data.corpsacorps.bonusattaque}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Bonus dégâts cors à corps</label>
        <input name="data.corpsacorps.bonusdegats" type="number" value="{{data.corpsacorps.bonusdegats}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Bonus attaque distance</label>
        <input name="data.distance.bonusattaque" type="number" value="{{data.distance.bonusattaque}}" data-dtype="Number" />
    </div>

    <div class="flex-orderSmallInput smallInput">
        <label>Bonus dégâts distance</label>
        <input name="data.distance.bonusdegats" type="number" value="{{data.distance.bonusdegats}}" data-dtype="Number" />
    </div>
</div>