<div class="profil grid grid-3col">
    <div>
        <label for="name">{{localize 'nanochrome.nom'}}</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </div>
    <div>
        <label for="data.affiliation">{{localize 'nanochrome.affiliation'}}</label>
        <input name="data.affiliation" type="text" value="{{data.affiliation}}" />
    </div>
    <div>
        <label for="data.occupation">{{localize 'nanochrome.occupation'}}</label>
        <input name="data.occupation" type="text" value="{{data.occupation}}" />
    </div>
</div>